/* style.scss */
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
/* Result Component */
.result {
  padding: 1.5rem 2.5rem;
}

/* Quiz Component */
.answerOptions {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* QuestionCount Component */
.questionCount {
  padding: 1.5rem 2.5rem 0;
  font-size: 14px;
}

/* Question Component */
.question {
  margin: 0;
  padding: 0.5rem 2.5rem 1.5rem 2.5rem;
}

/* AnswerOption Component */
.answerOption {
  border-top: 1px solid #eee;
}

.answerOption:hover {
  background-color: #eefbfe;
}

.radioCustomButton {
  position: absolute;
  width: auto;
  opacity: 0;
}

.radioCustomButton,
.radioCustomLabel {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.radioCustomLabel {
  position: relative;
  width: 100%;
  margin: 0;
  padding: 1.5rem 2.5rem 1.5rem 5rem;
  font-size: 16px;
  line-height: 1.5;
}

.radioCustomButton ~ .radioCustomLabel:before {
  position: absolute;
  top: 20px;
  left: 38px;
  width: 28px;
  height: 28px;
  content: '';
  display: inline-block;
  vertical-align: middle;
  background: #fff;
  border: 1px solid #bbb;
  border-radius: 50%;
  transition: all 0.3s;
}

.radioCustomButton:checked ~ .radioCustomLabel:before {
  content: '';
  background: #8bc53f url(./svg/icon-check.svg) no-repeat;
  background-size: 27px;
  border-color: #8bc53f;
}

/* Animation */
.fade-enter {
  opacity: 0;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out 0.3s;
}

.fade-leave {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-appear {
  opacity: 0;
}

.fade-appear.fade-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

/*Images*/

#logo-resume {
  background: url('/content/images/logo/icons/logo-alternate.png');
  display: inline-block;
  width: 250px;
  height: 250px;
  background-size: 105%;
  border-radius: 50%;
  background-color: #fff;
  margin: 5% auto;
}

#html5 {
  background-image: url('/content/images/logo/svg/html5.svg');
  background-size: 45px;
}

#css3 {
  background-image: url('/content/images/logo/svg/css3.svg');
  background-size: 45px;
}

#bootstrap {
  background-image: url('/content/images/logo/svg/bootstrap.svg');
}

#typescript {
  background-image: url('/content/images/logo/svg/typescript.svg');
}

#angular {
  background-image: url('/content/images/logo/svg/angular.svg');
}

#react {
  background-image: url('/content/images/logo/svg/react.svg');
}

#webpack {
  background-image: url('/content/images/logo/svg/webpack.svg');
}

#sass {
  background-image: url('/content/images/logo/svg/sass.svg');
}

#spring {
  background-image: url('/content/images/logo/icons/spring.png');
}

#netflix {
  background-image: url('/content/images/logo/icons/netflix.png');
}

#gradle {
  background-image: url('/content/images/logo/icons/gradle.png');
}

#maven {
  background-image: url('/content/images/logo/icons/maven.png');
}

#hibernate {
  background-image: url('/content/images/logo/icons/hibernate.gif');
}

#swagger {
  background-image: url('/content/images/logo/icons/swagger.png');
}

#gatling {
  background-image: url('/content/images/logo/icons/gatling.png');
}

#cucumber {
  background-image: url('/content/images/logo/icons/cucumber.png');
}

#jenkins {
  background-image: url('/content/images/logo/svg/jenkins.svg');
  background-size: 40px;
}

#travis {
  background-image: url('/content/images/logo/svg/travis.svg');
}

#gitlab {
  background-image: url('/content/images/logo/svg/gitlab.svg');
}

#circleci {
  background-image: url('/content/images/logo/svg/circleci.svg');
}
